regression/in1.txt
regression/in2.txt
polynomialRegression/regression1.png
regression/error.png
regression/error.txt
regression/error1.png
regression/error1.txt
regression/error2.png
regression/error2.txt
regression/parameter1.txt
regression/parameter2.txt
regression/regression1.png
regression/regression2.png
task4/.idea/compiler.xml
task4/.idea/copyright/profiles_settings.xml
task4/.idea/misc.xml
task4/task4.iml
task4/train1.txt
task4/train2.txt
task4/train3.txt
task4/train4.txt
task4/trainError1.txt
task4/trainError4.txt
task4/valError1.txt
task4/valError4.txt
task4/validation1.txt
task4/validation2.txt
polynomialRegression/parameters15.txt
polynomialRegression/parameters16.txt
polynomialRegression/parameters17.txt
polynomialRegression/parameters21.txt
polynomialRegression/parameters22.txt
polynomialRegression/parameters2212.txt
polynomialRegression/parameters227.txt
polynomialRegression/parameters24.txt
polynomialRegression/parameters25.txt
polynomialRegression/parameters26.txt
polynomialRegression/parameters27.txt
polynomialRegression/polynomialRegression.iml
polynomialRegression/regression1.plt
polynomialRegression/regression2.plt
polynomialRegression/regression2.png
task4/.idea/
polynomialRegression/error24.txt
polynomialRegression/error25.txt
polynomialRegression/error26.txt
polynomialRegression/error27.txt
polynomialRegression/f.txt
polynomialRegression/in1.txt
polynomialRegression/in2.txt
polynomialRegression/parameters11.txt
polynomialRegression/parameters12.txt
polynomialRegression/parameters13.txt
polynomialRegression/parameters14.txt
polynomialRegression/parameters23.txt
polynomialRegression/error2.plt
polynomialRegression/error2.png
polynomialRegression/error21.txt
polynomialRegression/error212.txt
polynomialRegression/error22.txt
polynomialRegression/error23.txt
regression/.gitignore
polynomialRegression/.idea/misc.xml
polynomialRegression/.idea/modules.xml
polynomialRegression/.idea/scopes/scope_settings.xml
polynomialRegression/.idea/vcs.xml
polynomialRegression/.project
polynomialRegression/.settings/org.eclipse.jdt.core.prefs
polynomialRegression/Thumbs.db
polynomialRegression/bin/polynomialRegression/regression.class
polynomialRegression/error1.plt
polynomialRegression/error1.png
polynomialRegression/error12.txt
task4/validation3.txt
polynomialRegression/error11.txt
polynomialRegression/error13.txt
polynomialRegression/error14.txt
polynomialRegression/error15.txt
polynomialRegression/error16.txt
polynomialRegression/.idea/
task4/validation4.txt
Thumbs.db
task4/out/
